@import "tailwindcss";

:root {

  font-family:
    Inter,
    sans-serif;

  color:
    #111827;

  background:
    #f4f7fb;
}

* {
  box-sizing: border-box;
}

body {

  margin: 0;

  min-height: 100vh;

  overflow-x: hidden;

  background:
    #f8f8f7;
}

.dark body {

  background:
    linear-gradient(
      to bottom right,
      #0f1115,
      #16181d
    );
}

.glass {

  background:
    rgba(255,255,255,0.92);

  backdrop-filter:
    blur(28px) saturate(180%);

  -webkit-backdrop-filter:
    blur(28px) saturate(180%);

  box-shadow:

    0 10px 30px
    rgba(0,0,0,0.06),

    0 0 90px
    rgba(64,224,208,0.28);

  transition:

    background-color 0.22s ease,

    color 0.18s ease,

    border-color 0.22s ease,

    box-shadow 0.22s ease;
}

.dark .glass {

  background:
    rgba(18,20,26,0.92);

  color:
    #f5f7fa;

  box-shadow:

    0 10px 30px
    rgba(0,0,0,0.45),

    0 0 65px
    rgba(64,224,208,0.16);
}

button {
  cursor: pointer;
}

input,
textarea,
select {

  background:
    transparent !important;

  color:
    inherit;

  border:
    1px solid rgba(255,255,255,0.08);

  -webkit-appearance: none;

  appearance: none;
}

input::placeholder,
textarea::placeholder {

  color:
    #8ea0b5;
}

.dark input::placeholder,
.dark textarea::placeholder {

  color:
    #7f93ab;
}

input:focus,
textarea:focus,
select:focus {

  outline: none !important;

  box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {

  -webkit-box-shadow:
    0 0 0 1000px transparent inset !important;

  -webkit-text-fill-color:
    inherit !important;

  transition:
    background-color 9999s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {

  background:
    rgba(255,255,255,0.12);

  border-radius: 999px;
}